html {
  scroll-behavior: smooth;
}
@import "tailwindcss";

@theme {
  --color-thana-blue: #0B308A;
  --color-thana-red: #DA291C;
  --color-thana-light: #F8FAFC;
}

/* Utilities สำหรับ Button และ Effect ต่างๆ */
.btn-shine { position: relative; overflow: hidden; }
.btn-shine::before {
    content: ''; position: absolute; top: 0; left: -100%; width: 50%; height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
    transform: skewX(-25deg); transition: all 0.7s ease; z-index: 1;
}
.btn-shine:hover::before { left: 200%; }

.square-box { border-radius: 0.25rem !important; }